<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shockwave.clockproj"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:targetSdkVersion="16"
              android:minSdkVersion="7"/>
    <application android:label="Clock Project"
                 android:icon="@drawable/ic_clockproj"
                 android:theme="@style/SherlockNP"
                 android:uiOptions="splitActionBarWhenNarrow">
        <activity android:name="ClockMain"
                  android:label="@string/app_name"
                  android:launchMode="singleInstance"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".StopwatchService"
                 android:id="@+id/STOPWATCH_SERVICE">
        </service>
        <receiver android:name="com.shockwave.clockproj.StopwatchFragment$StopwatchReceiver">
            <intent-filter>
                <action android:name="com.shockwave.clockproj.StopwatchService.START_ACTION"/>
            </intent-filter>
        </receiver>
        <service android:name=".TimerService"
                 android:id="@+id/TIMER_SERVICE">
        </service>
        <receiver android:name="com.shockwave.clockproj.TimerFragment$TimerReceiver">
            <intent-filter>
                <action android:name="com.shockwave.clockproj.TimerService.START_ACTION"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
